html, body {
				height: 100%;
			}
body {
	padding: 0px;
	margin: 0px;
	overflow:  hidden;
	background-color: black;
	color: white;
}
p{
	position: absolute;
	text-align: center;
	bottom:0px;
	left:0px;
	right:0px;
	font-family: Helvetica, Arial;
	font-size:12px;
	margin:0px;
	padding:3px;
	color: #AAA;
}
a{
	color: white;
}
canvas {
	position: absolute;
	top:  0px;
	left:  0px;
	width:  100%;
	height: 100%;
}

#notice {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	z-index:  5;
}